body {
  margin: 0;
}

#game_view {
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0;
  background-color: #1fb1c4;
}

.topbar {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212323;
  color: white;
  line-height: 50px;
  font-size: 30px;
  font-family: 'Saira Semi Condensed', sans-serif;
}

#logo {
  position: relative;
  left: 10px;
}

#start_screen {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 1000px;
  height: 500px;
  border-radius: 15px;
  background-color: #d85743;
  overflow: hidden;
}

#username {
  font-family: 'Saira Semi Condensed', sans-serif;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  display: hidden;
  color: white;
  font-size: 32px;
}

#game_name {
  position: absolute;
  z-index: 1;
  top: 20%;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 50px;
}

#name_input {
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 40%;
  right: 40%;
}

#name {
  width: 100%;
  height: 30px;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

input {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: none;
  background-color: #d85743;
  color: #ede628;
  border-color: #ede628;
}

#play_button {
  position: absolute;
  z-index: 1;
  top: 55%;
  left: 46%;
  right: 46%;
}
#leaderboard_button{
  position: absolute;
  z-index: 1;
  top: 64%;
  left: 42.5%;
  right: 46%;
}

#play {
  width: 100%;
}

#instructions {
  position: absolute;
  z-index: 1;
  top: 74%;
  left: 30%;
  right: 30%;
  text-align: center;
  border-radius: 5px;
  height: 60px;
  line-height: 30px;
  font-size: 20px;
}

button {
  display: block;
  background-color: #ede628;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 150px;
  font-size: 25px;
  border-radius: 5px;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ede628;
}
