body{
	margin: 0;
}	

#game_view{
	position: absolute;
	width: 100%;
	top:50px;
	bottom: 0;
	background-color: #1fb1c4;
	background-color: #bf1e09;
}

.topbar{
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #212323;
	color: white;
	line-height: 50px;
	font-size: 30px;
	font-family: 'Saira Semi Condensed', sans-serif;
}

#logo{
	position: relative;
	left: 10px;
}

#start_screen{
	position: absolute;
	left: 10%;
	top: 10%;
	width: 1000px;
	height: 500px;
	border-radius: 15px;
	background-color: #1de5d1;
	overflow: hidden;
}

#username{
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 1;
	display: hidden;
}

#scores{
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1; 
}

#game_name{
	position: absolute;
	z-index: 1;
	top: 20%;
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 50px;
}

#name_input{
	position: absolute;
	z-index: 1;
	top: 40%;
	left: 40%;
	right: 40%;
}

#name{
	width: 100%;
	height: 30px;
	font-size: 25px;
	line-height: 30px;
	text-align: center;
}

input{
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    background-color: #1de5d1;
    border: none;
}

#play_button{
	position: absolute;
	z-index: 1;
	top: 55%;
	left: 46%;
	right: 46%;
}

#play{
	width: 100%;
}

#instructions{
	position: absolute;
	z-index: 1;
	top: 70%;
	left: 30%;
	right: 30%;
	text-align: center;	
}
