body, html{
  background-color: #0B3954;
}
.avatar> img{
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
.material-icons{
  vertical-align: middle;
}
.mas-blue{
  background-color: #06202E !important;
}
